<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/user.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <span class="header-element">
        <a href="#">Home</a>
      </span>
      <form class="topsearchbar">
        <input type="text" name="search" value="">
      </form>
      <nav>
        <ul>
          <li><a href="./login.html">Sign in</a></li>
          <li><a href="./signup.html">Sign Up</a></li>
        </ul>
      </nav>
    </header>
    <div class="profile-partition">
      <div class="spacer"></div>
      <div>
        <div class="profile-user flex">
          <img src="https://api.dicebear.com/6.x/bottts/svg?seed=Felix" class="profile-user-icon flex">
          <div class="profile-user-name flex-col">
            <!-- get current user name from JS var perhaps?? -->
            John Doe
          </div>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <main>
      <div class="container">
        <div class="post-header">
          <img class="user-icon" src="https://api.dicebear.com/6.x/bottts/svg?seed=Felix" alt="avatar">
          <div>
            <h3 class="user">AzureDreamer23</h3>
            <p class="timestamp">4 hrs ago</p>
          </div>
        </div>
        <div class="flex flex-col post">
          <div class="post-padding-bot">
            Greetings, forum friends!<br>

              Allow me to introduce myself as AzureDreamer23. I've embarked on this digital journey to connect with like-minded individuals, and I couldn't be more excited to be a part of this vibrant community.<br>

              Curiosity is my driving force, and I'm passionate about exploring a wide range of topics. From technology and gaming to art and philosophy, I love immersing myself in thought-provoking conversations that expand my horizons.<br>

              When I'm not online, you'll likely find me lost in the pages of a captivating book or indulging in creative pursuits. Nature also holds a special place in my heart, as I find solace and inspiration in its beauty.<br>

              I'm eager to contribute, learn, and forge meaningful connections with each of you. Let's embark on this adventure together and make this forum an incredible hub of knowledge and camaraderie.<br>

              Here's to exciting discussions and endless possibilities!<br>
          </div>
          <div class="interact flex flex-row"> 
            <span class="button-shell text-12 flex">
              <button class="aspect-square button-vote flex" aria-pressed="false">
                <!-- <img src="assets/hero-icon-small-up.svg" height="15px" width="15px" alt=""> -->
                <span class="upvote flex"></span>
              </button>
              <!-- test -->
              <div class="vote-count count-num"> 0 </div>
              <button class="aspect-square button-vote flex items-center" aria-pressed="false">
                <!-- <img src="assets/hero-icon-small-down.svg" height="15px" width="15px" alt=""> -->
                <span class="downvote flex"></span>
              </button>
            </span>
            <span class="button-shell text-12 flex">
              <button class="comment-button flex aspect-square">
                <span class="comment flex"></span>
                <div class="comment-count count-num">0</div>
              </button>
            </span>
          </div>
        </div>
  </body>
</html>
